@model List<Libro>

@{
    ViewData["Title"] = "Home Page";
}

<form method="get" asp-controller="Libri" asp-action="index">
    <input name="parolachiave" type="text" />
    <button>Cerca</button>
</form>

<a asp-route="AggiungiLibro">Aggiungi nuovo</a>

@if (Model.Any())
{
    @foreach(var libro in Model)
    {
        <div>
            <img src="@libro.PercorsoImmagineCopertina"/>
            <div>Titolo: @libro.Titolo</div>
            <div>Autore: @libro.Autore</div>
            <div>Genere: @libro.Genere</div>
            <div>Disponibile: @(libro.Disponibile ? "si" : "no")</div>
            <a asp-controller="Libri" asp-action="Details" asp-route-id="@libro.Id">Dettagli</a>
        </div>
        <hr/>
    }
}
